# IDE
.idea/
**/cmake-build-*
.vscode/
arlib_workspace.code-workspace
build-*

# CMake
build/

# Linux Perf
perf-build/
perf.data*

# mARGOt
dse/
margot_heel_if/
parameter_space_exploration*

# Doxygen
**/html
**/latex

# Other
activate
